<%- include('head') %>
<body>
  <%- include('navbar') %>

  <div class="container">

    <% for(let i=0; i<data.muebles.length;i++){%>
      <div class="card">
        <img src="/img/<%=data.muebles[i].codigo%>.jpg" alt="<%=data.muebles[i].nombre%>">
        <div class="card-body">
          <h5 class="card-title name"><%= data.muebles[i].nombre %></h5>
          <p class="card-text categoria"><%= data.muebles[i].categoria %></p>
          <p class="card-text price">$<%= data.muebles[i].precio %></p>
        </div>
      </div>

    <% } %>

</div>
<%- include('footer') %>
</body>
</html>